* {
  box-sizing: border-box;
}

body {
  
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: flex-start;
      
    }
/* header section */
header {
padding: 40px;
background-color: darkseagreen;
text-align: center;
 color: Black;
  
  }

 
/* body */
    main {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

    }
/* sidebar */
    aside {
      flex: 1;
      background-color: #b9c6ae;
      padding: 40px;
      text-align: left;
    }





  /* footer */

  footer {
      width: 100%;
      bottom: 0;
      padding: 20px;
      text-align: center;
      background: darkcyan;
      color: Black;
      margin-top: auto;
  }
  .quiz {
      flex: 4;
      background-color: darkkhaki;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
    } 




.footer {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  
}



/* add media query */

@media screen and (max-width: 992px) {
  
  .quiz {
      background-color: orange;
  }
  /* Change the header color */
  h2 {
    background: darksalmon;
  }

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  
  .quiz {
      background-color: darkred;
  }
    
  /* Change the header color */
  h2 {
    background: #8ac4ff;
  } 
}
}
